@font-face {
  font-family: "iconfont"; /* Project id 3516632 */
  src: url('./iconfonts/iconfont.woff2?t=1661646240390') format('woff2'),
       url('./iconfonts/iconfont.woff?t=1661646240390') format('woff'),
       url('./iconfonts/iconfont.ttf?t=1661646240390') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


