@font-face {
  font-family: "iconfont"; /* Project id 3516632 */
  /* 这里修改iconfont.css文件的路径 */
  src: url('./iconfonts/iconfont.woff2') format('woff2'),
       url('./iconfonts/iconfont.woff') format('woff'),
       url('./iconfonts/iconfont.ttf') format('truetype');
}

/* iconfont每个图标元素的类名 */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 这里是给图标设置属性(伪元素) */
/* .icon-sousuo:before {
  content: "\e651";
}

.icon-xiajiantou:before {
  content: "\e600";
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
} */

